.cuerpo {
    margin-top: 20px;
    margin-left: 100px;
    margin-right: 100px;
    margin-bottom: 20px;
}

body {
    background-image: url(../img/Fondo.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;

    text-align: justify;

    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size:larger;
}

h1 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

h2 {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.Ip {
    background-color: rgb(178, 221, 229);
    border-radius: 15px;
    width: 440px;
    margin-left: 435px;

}

a {
    color: black;
    background-color: rgb(161, 229, 252);
    border-radius: 10px;
    padding: 5px;
    text-decoration: none;
}

a:hover {
    background-color: rgb(230, 105, 105);
}

.Estáticas {
    background-color: none;
    width: 530px;
    height: 400px;
}

.Separador {
    background-color: none;
    width: 250px;
    height: 400px;
}

.Dinámicas {
    background-color: none;
    width: 500px;
    height: 400px;
}

.imgDNS {
    margin-left: 450px;
}